

.activetab {
    transition: all 1s ease 0s;
}

.activetab::after {
    content: '';
    border-bottom: 3px solid #2196F3;
    display: block;
    bottom: 0;
    width: 100%;
    position: relative;
    padding-bottom: 1em;
}

.list-tab {
    width: 100%;
    display: inline-flex;
}

.section {
    position: relative;
    background: #FFFFFF;
}

.tab {
    width: 100%;
    padding-top: 1em;
    cursor: pointer;
 }

 .tab:hover {
    background-color: #eee;
}