
<div class="dn-roles" ng:init="onInit()">

    <div class="container-fluid no-padding">

        <div class="card">
            
            <div class="card-header pt-0 pb-0"> 
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">
                            <i class="fa fa-images"></i> Galeria | {{galleryTmp.title}} </h4>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success btn-sm" ng:click="openModalDropzone();">
                            <i class="fa fa-plus"></i> Añadir Imágenes
                        </button>
                    </div>
                </div>

                <dn-spinner-view ng:if ="loading"></dn-spinner-view>

                <br>

                <div class="row" ng:if ="!loading">

                    <div class="row m-2" style="width: 100%;" ng:if="photos.length > 0">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">

                                <div class="col-md-3 col-sm-6 mb-2" style="margin-bottom: 1em !important;"
                                        ng-model="photos" 
                                        dir-paginate="item in photos| orderBy:'-created_at'|itemsPerPage:20" pagination-id="item.id"
                                >
                                    <div class="card card-galeria-image" ng-model="photos">

                                        <img
                                 
                                            class="card-img slider-img" 
                                            loading="lazy" 
                                            ng:src="{{path + item.url_image}}" 
                                            alt="{{item.url_image}}" 
                                            d-lightbox-open
                                        >
                                        
                                        <div class="text-center actions-card">
                                            <button class="btn btn-link btn-warning btn-sm m-1 p-1" ng:click="editImage(item);">
                                                <i class="fa fa-pencil-alt" d:tooltip="Cambiar"></i>
                                            </button>
                                            
                                            <button class="btn btn-link btn-danger btn-sm m-1 p-1" ng:click="deleteImage(item);">
                                                <i class="fa fa-trash-alt" d:tooltip="Eliminar"></i>
                                            </button>
                                        </div>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>  

                    <div class="col-md-12 text-center" ng:if="photos.length == 0">
                        <i class="fas fa-exclamation-circle"></i>
                        Ninguna imagen
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<dn-modal name="modal-base-form" title-modal="{{title}}" size="lg" scale="12">

    <div class="card-body pt-0" ng:if = "!loading">

        <div class="row">
        
            <div class="container-fluid">
                    
                <div id="myGalleryBook" class="dropzone down_images"></div>
                
            </div>

        </div>
        
        <div class="fix-col justify-content-center">

            <button class="btn btn-info btn sm" 
                
                ng:disabled = "spin_gallery || dropzone.getQueuedFiles().length == 0 "
                
                ng:click = "sendDataEvent();">
                
                {{spin_gallery ? 'Enviando ' : 'Guardar'}}
                
                <i ng:if="spin_gallery" class=" fa fa-spin fa-spinner"></i>
                
            </button>

        </div>

    </div>
</dn-modal>


<dn-modal name="modal-edit-form" title-modal="{{title}}" size="md">

    <form ng:submit="sendDataEventUpdate();" name="formEdit">
    
        <div class="col-md-12">
            <fieldset>
                <dn-uploaderfile model="objectItem.image" default="default_image" type="image" 
                options="archivo_options">
                </dn-uploaderfile>
            </fieldset> 
        </div>
    
        <div class="fix-col justify-content-center">
            <dn-button-submit ng:disabled="!objectItem.image" label=" {{ spin ? 'Procesando ... ' : 'Guardar' }}" form="formEdit" icon="fa fa-save"></dn-button-submit>
        </div>

        <div dn-spinner="loading_modal"></div>
    </form>
</dn-modal>
