<div class="dn-administrar" ng:init="onInit()">
    <div class="container-fluid no-padding">
        <div class="card">
            <div class="card-header pb-0">
                <h4 class="card-title">
                    <i class="fas fa-calendar-alt"></i>
                    Eventos
                </h4>
            </div>  
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-sm" ng:click="openModal(0);"> 
                            <i class="fas fa-plus"></i> Nuevo evento 
                        </button>
                    </div>   

                    <div class="col-md-6">  
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" placeholder="Buscar" ng:model="search" class="form-control">
                        </div>
                    </div>
                </div>
                
                <div class="note-andheuris">
                    
                    <span class="badge badge-primary">
                        Cantidad de registros : <span ng:bind="listData.length"></span>
                    </span>

                </div>
                
                <dn-spinner-view ng:if ="loading"></dn-spinner-view>

                <br>  

                <div class="row" ng:if ="!loading">

                    <div class="row m-2" style="width: 100%;" ng:if="listData.length > 0">

                        <div  class="col-md-4 col-sm-6 mb-2"  dir-paginate="item in listData|filter:search | itemsPerPage:20" pagination-id="item.id">
                        
                            <div class="card card-libro_galeria-image">
                            
                                <img    
                                    class="card-img slider-img" 
                                    loading="lazy" 
                                    ng:src="{{ path + item.background_image }}" 
                                    alt="{{ item.title }}" 
                                >

                                <div class="text-center actions-card">

                                    <div class="col-md-12 mt-2" style="text-align: start;">

                                        <p ng:style="{ color : item.color }" class="m-0 bold" ng:bind="'fecha del evento: ' + setDate(item.publication_time)"></p>
                                        
                                    </div>

                                    <button class="btn btn-link btn-warning btn-sm m-1 p-1" ng:click="openModal(1,item);">
                                        <i class="fa fa-pencil-alt" d:tooltip="Editar"></i>
                                    </button>
                                    
                                    <button class="btn btn-link btn-danger btn-sm m-1 p-1" ng:click="deleteEvent(item);">
                                        <i class="fa fa-trash-alt" d:tooltip="Eliminar"></i>
                                    </button>

                                </div>
    
                            </div>     
                            
                        </div>
                        
                        <div class="text-center">
                            <dir-pagination-controls pagination-id="item.id"></dir-pagination-controls>
                        </div>

                    </div>  

                    <div class="col-md-12 text-center" ng:if="listData.length == 0">
                        <i class="fas fa-calendar-alt"></i>
                        Ningún evento creado.
                    </div>

                </div>
                
            </div>

        </div>

    </div>

</div>

<dn-modal name="modal-form" title-modal="{{titleModal}}" size="lg" scale="12">

    <form ng:submit="saveData();" name="forms.formEvent">
    
        <div class="row">
            
            <div class="col-md-12">  

                <div class="row">
   
                    <div class="col-md-6">

                        <dn-inputtext label="Titulo" name="title" model="mainObj.title" req="true" 
                            form="forms.formEvent.title" maxl="250" minl="2" error="parent.errors.title"
                            regex=".*"
                        >
                        </dn-inputtext>
                        
                    </div>
                    
                    <div class="col-md-6">

                        <dn-inputtext label="Ponente" name="author" model="mainObj.author"  
                            form="forms.formEvent.author" maxl="250" minl="2" error="parent.errors.author"
                            regex=".*"
                        >
                        </dn-inputtext>
                        
                    </div>

                </div>

                <div class="row">
                    
                    
                    <div class="col-md-6">

                        <dn-inputarea label="Descripción" name="description" model="mainObj.description" req="true" 
                            form="forms.formEvent.description" maxl="2250" minl="2" error="parent.errors.description"
                        >   
                        </dn-inputarea>
                        
                    </div>
                    
                    <div class="col-md-6">

                        <dn-inputtext label="Ubicación" name="location" model="mainObj.location" req="true" 
                            form="forms.formEvent.location" maxl="250" minl="2" error="parent.errors.location"
                            regex=".*"
                        >
                        </dn-inputtext>
                        
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        
                        <div class="row">
                            
                            <div class="col-md-12">
                                
                                <div class="row">
                            
                                    <div class="col-md-6">
        
                                        <dn-inputdate label="Fecha Inicio del evento" name="publication_date" model="mainObj.publication_date" req="true" 
                                            form="forms.formEvent.publication_date" error="parent.errors.publication_date"
                                        ></dn-inputdate>
                                        
                                    </div>
        
                                    <div class="col-md-6">
        
                                        <dn-inputtime label="Hora Inicio del evento" name="publication_time" model="mainObj.publication_time" req="true" 
                                            form="forms.formEvent.publication_time" max="29-12-2200" error="parent.errors.publication_time"
                                        ></dn-inputtime>
                                        
                                    </div>
        
                                </div>

                            </div>

                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-6">

                                        <dn-inputdate label="Fecha Fin del evento" name="publication_date_end" model="mainObj.publication_date_end" req="true" 
                                            form="forms.formEvent.publication_date_end" error="parent.errors.publication_date_end"
                                        ></dn-inputdate>
                                          
                                    </div>
        
                                    <div class="col-md-6">
        
                                        <dn-inputtime label="Hora Fin del evento" name="publication_time_end" model="mainObj.publication_time_end" req="true" 
                                            form="forms.formEvent.publication_time_end" max="29-12-2200" error="parent.errors.publication_time_end"
                                        ></dn-inputtime>
                                        
                                    </div>

                                </div>

                            </div>
                            
                        </div>

                    </div>  
          
                    <div class="col-md-6">
                        
                        <div class="row">
                            
                            <div class="col-md-6">

                                <dn-inputselect label="Categoria" key="name" list="categoryList" name="category_id" 
                                    model="mainObj.category_id" req="true" 
                                    form="forms.formEvent.category_id" error="parent.errors.category_id" 
                                    change="getSubcategories();"
                                >
                                </dn-inputselect>
                                   
                            </div>

                            <div class="col-md-6">
                                <dn-inputselect label="Sub Categoría" name="sub_category_id" model="mainObj.sub_category_id" req="true" 
                                    form="forms.formEvent.sub_category_id" key="name" list="subCategoriesList" error="parent.errors.sub_category_id"
                                ></dn-inputselect>
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <dn-inputselect label="Canal" name="event_type_id" model="mainObj.event_type_id" req="true" 
                                    form="forms.formEvent.event_type_id" key="name" list="eventTypeList" error="parent.errors.event_type_id"
                                ></dn-inputselect>
                            </div>

                            <div class="col-md-6">

                                <dn-inputtext label="Precio" name="price" model="mainObj.price"  
                                    form="forms.formEvent.price" maxl="250" minl="2" error="parent.errors.price"
                                    regex=".*"
                                    req="true"
                                >
                                </dn-inputtext>
                                
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <!-- 
                                <label style="font-size: 12px;">Elija un color para el evento </label>
                            
                                <fieldset>  

                                    <div class="check-color" md-color-picker="picker.options" value="mainObj.color" ng:model="mainObj.color"></div>
                                
                                </fieldset>
                                -->
                                
                                
                            </div>

                            <div class="col-md-12">

                                <fieldset>

                                    <label class="label-fake text-center">¿Está Transmitiendo Ahora?</label>

                                    <div class="switch-box" style="border:none !important;">

                                        <switch name="isLive" ng-model="mainObj.isLive" class="green"
                                            on="Si" off="No" 
                                        ></switch>

                                    </div>
                                
                                </fieldset>
                                
                            </div>

                        </div>

                        
        
                    </div>
                    
                </div>

                <div class="row">
                    
                    <div class="col-md-6 text-center">
                        
                        <label style="font-size:12px;">Imagen de Fondo </label>
                        
                        <br>
                        
                        <span class="text-success" style="font-weight: bold;">
                            Tamaño recomendado 1000 x 667 px
                        </span>

                        <fieldset>

                            <dn-uploaderfile model="mainObj.image" default="default_image" type="image" 
                                options="gallery_options">
                            </dn-uploaderfile>
                        
                        </fieldset> 
                         
                    </div>

                    <div class="col-md-6">
                        
                        <div class="row">

                            <div class="col-md-12">

                                <dn-inputtext label="Enlace Externo" name="redirectTo" model="mainObj.redirectTo"  
                                    form="forms.formEvent.redirectTo" maxl="450" minl="2" error="parent.errors.redirectTo" regex=".*"
                                ></dn-inputtext>
  
                                
                            </div>

                            <div class="col-md-12">

                                <dn-inputtext label="Código del video o Transmisión en vivo (Youtube)" name="url" model="mainObj.url"  
                                    form="forms.formEvent.url" maxl="450" minl="2" error="parent.errors.url" regex=".*"
                                ></dn-inputtext>

                            </div>

                        </div>
                         
                    </div>

                </div>

            </div>

        </div>
 
        <div class="fix-col justify-content-center">
        
            <button class="btn btn-info" 

                ng:disabled = " (mainObj.image == undefined) || forms.formEvent.$invalid || spin_form">
                
                <i  class="fa" ng:class="{'fa-save' : !spin_form , 'fa-spin fa-spinner' : spin_form }"></i>
                
                <span> {{ spin_form ? 'Registrando ... ' : 'Guardar' }} </span>

            </button>

        </div>

    </form>

</dn-modal>